<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../stylesheets/dashboard.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <style>
      body{
        background-color:#fff;
      }
      .pending{
        background-color : lightblue;

      }
      .ongoing{
      background-color: rgb(212, 212, 27);

      }
      .completed{
      background-color : lightgreen;
      }
    </style>
    <title>Dashboard</title>
  </head>
  <body>
    <nav class="navbar navbar-expand navbar-light bg-light">
      <div class="container-fluid">
        <button class="btn btn-link btn-sm  text-lg-start" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
        <a class="navbar-brand" href="#"> <img class="preload-me"
            src="https://interranetworks.ng/wp-content/uploads/2020/06/Interra-Logo-08-08-e1593411073312.png"
            srcset="https://interranetworks.ng/wp-content/uploads/2020/06/Interra-Logo-08-08-e1593411073312.png 203w, https://interranetworks.ng/wp-content/uploads/2020/06/Interra-Logo-08-08-e1593411073312.png 203w"
            width="153" alt="Interra Networks"></a>
        <ul class="navbar-nav">
          <li class=" dropdown nav-item">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="far fa-bell position-relative">
                <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                  <span class="visually-hidden">New alerts</span>
                </span>
              </i>
              
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
          </li>
          <li class=" dropdown nav-item">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="far fa-user-circle"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/logout">Logout <i class="fas fa-sign-out-alt"></i></a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <div id="layoutSidenav">
      <div id="layoutSidenav_nav">
          <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
              <div class="sb-sidenav-menu">
                  <div class="nav">
                      
                      <div class="sb-sidenav-menu-heading">Core</div>

                      <a class="nav-link" href="/dashboard">
                          <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                          Dashboard
                      </a>             
                      <div class="sb-sidenav-menu-heading">Filters</div>
                      <a class="nav-link" href="/assigned-tasks?status=completed">
                          <div class="sb-nav-link-icon"><i class="fas fa-check"></i></div>
                          Completed
                      </a>
                      <a class="nav-link" href="/assigned-tasks?status=ongoing">
                          <div class="sb-nav-link-icon"><i class="far fa-hourglass"></i></div>
                          Ongoing
                      </a>
                      <a class="nav-link" href="/assigned-tasks?status=pending">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Pending
                    </a>
                  </div>
              </div>
          </nav>
      </div>
      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard">Assigned Tasks</a></li>     
              </ol>
            </nav>
                  <div class="row">
                    <div id="status"></div>
                    <% if (tasks.length > 0) { %>
                      <% tasks.forEach(task => { %>
                        <div class="col-sm-6 ">
                          <div class="card mb-3" style="box-shadow: 0 15px 30px 0 rgb(0 0 0 / 10%); border: none;">
                            <div class="card-header <%= task.status %>"><%= task.title %></div>
                            <div class="card-body">
                              <p class="card-text"><%= task.description%> </p>
                                <p class="card-text">Task status: <%= task.status %>
                                   <span style="float: right;"><a href="/<%= task.id%>/feedback" class="btn btn-primary btn-sm">comment</a></span>
                                  </p>
                                <p class="card-text">
                                  <% if (task.status == 'pending') { %>
                                    <div class="form-check">
                                      <form action="/<%= task.id %>/start-task" method="post">
                                        <input class="form-check-input" id="startTask"  name="complete_task" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                          Start Task
                                        </label>
                                      </form>
                                     
                                    </div>
                                  <% } %>
                                  <% if (task.status == 'ongoing') { %>
                                    <div class="form-check">
                                      <form action="/<%=task.id %>/complete-task" method="post">
                                        <input class="form-check-input" id='completeTask'  name="complete_task" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                          complete Task
                                        </label>
                                      </form>
                                     
                                    </div>
                                  <% } %>
                                  <% if (task.status == 'completed') { %>
                                    <div class="form-check">
                                      <form action="#" method="post">
                                        <input class="form-check-input"  name="complete_task" type="checkbox" checked disabled id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                          completed
                                        </label>
                                      </form>
                                     
                                    </div>
                                  <% } %>
                                </p>
                            
                            </div>
                          </div>
                      </div>
                      <% }) %>
                    <% } else { %>
                <p>No Tasks</p>
                   <% } %>
                  
                   
             </div>
          </div>
        </main>
      </div>
   </div>
    <script src="https://kit.fontawesome.com/743fcf6cf7.js" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../jquery/jquery.js"></script>
    <script src="../javascripts/scripts.js"></script>

    <script>
        $(document).ready(function(){
        var startTask = $('#startTask')
        var completeTask = $('#completeTask')

        completeTask.on('change', function(){
            completeTask.parent().submit()
        });

        startTask.on('change', function(){
            startTask.parent().submit()
        })
// submit feedback form
//     var myForm = $('#feedbackForm')
//     var url = myForm.attr('action')
//     myForm.on('submit', function(e){
//       e.preventDefault()
//       $.ajax({
//         method: 'POST',
//         url: url,
//         data: myForm.serialize(),
//         success: (data) => {
//           $('#status').html(`<div class="alert alert-success alert-dismissible fade show" role="alert">
//             ${data.message} <button type="button" style="float:right" class="close" data-dismiss="alert" aria-label="Close">
//     <span aria-hidden="true">&times;</span>
//   </button>
// </div>`)
//         },
//         error: (data) => {
//           $('#status').html(`<div class="alert alert-danger alert-dismissible fade show" role="alert">
//             ${data.error}
//   <button type="button"style="float:right" class="close" data-dismiss="alert" aria-label="Close">
//     <span aria-hidden="true">&times;</span>
//   </button>
// </div>`)
//         }

//       })
//     })
      })
    </script>
  </body>
</html>