<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./stylesheets/dashboard.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <style>
      body{
        background-color:#fff;
      }
    </style>
    <title>Dashboard</title>
  </head>
  <body>
    <nav class="navbar navbar-expand navbar-light bg-light">
      <div class="container-fluid">
        <button class="btn btn-link btn-sm  text-lg-start" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
        <a class="navbar-brand" href="#">Navbar</a>
        <ul class="navbar-nav">
          <% if (role == 'SuperAdmin') { %>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <i class="fas fa-user-plus"></i>
              </a>
            </li>
          <% } %>
         

          <li class=" dropdown nav-item">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="far fa-bell position-relative">
                <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                  <span class="visually-hidden">New alerts</span>
                </span>
              </i>
              
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
          </li>
          <li class=" dropdown nav-item">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="far fa-user-circle"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/logout">Logout <i class="fas fa-sign-out-alt"></i></a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <div id="layoutSidenav">
      <div id="layoutSidenav_nav">
          <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
              <div class="sb-sidenav-menu">
                  <div class="nav">
                      
                      <div class="sb-sidenav-menu-heading">Core</div>

                      <a class="nav-link" href="/dashboard">
                          <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                          Dashboard
                      </a>
                      <div class="sb-sidenav-menu-heading">Interface</div>
                      <a class="nav-link collapsed" href="/admin/createUser" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                          <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                          Create user
                          <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                      </a>
                      <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                          <nav class="sb-sidenav-menu-nested nav">
                              <a class="nav-link" href="layout-static.html">Static Navigation</a>
                              <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
                          </nav>
                      </div>
                      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                          <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                          Pages
                          <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                      </a>
                      <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                          <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                  Authentication
                                  <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                              </a>
                              <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                  <nav class="sb-sidenav-menu-nested nav">
                                      <a class="nav-link" href="login.html">Login</a>
                                      <a class="nav-link" href="register.html">Register</a>
                                      <a class="nav-link" href="password.html">Forgot Password</a>
                                  </nav>
                              </div>
                              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                  Error
                                  <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                              </a>
                              <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                  <nav class="sb-sidenav-menu-nested nav">
                                      <a class="nav-link" href="401.html">401 Page</a>
                                      <a class="nav-link" href="404.html">404 Page</a>
                                      <a class="nav-link" href="500.html">500 Page</a>
                                  </nav>
                              </div>
                          </nav>
                      </div>
                      <div class="sb-sidenav-menu-heading">Addons</div>
                      <a class="nav-link" href="#">
                          <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                          Charts
                      </a>
                      
                  </div>
              </div>
              <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                <%= role %> 
            </div>
          </nav>
      </div>
      <div id="layoutSidenav_content">
          <main>
              <div class="container-fluid">
                <% include('../partials/messages') %>  
                <div class="row">
                  <% departments.forEach(department => { %>
                    <div class="col-md-6">
                      <div class="card mb-3 bg-light" style="max-width: 540px; border:none;     box-shadow: 0 15px 30px 0 rgb(0 0 0 / 10%); border: none; ">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img src="..." class="img-fluid rounded-start" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title"><%= department.title %> </h5>
                              <p class="card-text"><%= department.description %> </p>
                              <a href="/<%= department.id %>/projectDashboard" class="btn btn-primary">See <%= department.code %> </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> 
                  <% }) %>
                </div>
                <div class="mb-3 ">
                  <br>
                    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#static" data-whatever="@mdo">
  Create New Department
</button>

<!-- Modal -->
<div class="modal fade" id="static" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Create New Department</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/admin/create-department" method="POST">
          <div class="mb-3">
           <label for="name" class="form-label">Name</label>
           <input type="text" class="form-control" name="title" id="name" placeholder="">
          </div>
          <div class="mb-3">
            <label for="code" class="form-label">Code</label>
            <input type="text" class="form-control" name="code" id="code" placeholder="">
           </div>
           <div class="mb-3">
            <label for="des" class="form-label">Description</label>
            <input type="text" name="description" class="form-control" id="des" placeholder="">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
       </form>
      </div>
     
    </div>
  </div>
</div>
                    
                </div>                  
              </div>
          </main>
      </div>
   </div>

   <!-- modal -->
   <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Create New User</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/admin/create-user" method="POST">
           
            <div class="mb-3">
                <label for="firstname" class="form-label">First Name</label>
                <input type="text" name="firstname" class="form-control" id="firstname" placeholder="John" required>
            </div>
            <div class="mb-3">
             <label for="lastname" class="form-label">Last Name</label>
             <input type="text" name="lastname" class="form-control" id="lastname" placeholder="Doe" required>
            </div>
            <div class=" mb-3">
             <label for="department" class="form-label">Department</label>
             <select class="form-select" id="department" name="department_id">
               <option selected></option>
              <% departments.forEach(department => { %>
               <option value="<%=department.id %>"><%= department.code %> </option>
              <% }) %>
             </select>
           </div>
           <div class=" mb-3">
             <label for="role" class="form-label">Role</label>
             <select class="form-select" id="role" name="role">
               <option selected></option>
               <option value="2">Admin</option>
               <option value="3">Member</option>
             </select>
           </div>
            <div class="mb-3">
             <label for="password" class="form-label">Email</label>
             <input type="email" name="email" class="form-control" id="password" placeholder="Only@example.com">
            </div>
            <div class="mb-3">
             <label for="inputPassword5" class="form-label">Password</label>
             <input type="password" name="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
             <div id="passwordHelpBlock" class="form-text">
               Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
             </div>
            </div>
            <div class="mb-3">
             <label for="input" class="form-label">Confirm password</label>
             <input type="password" name="password_confirm" class="form-control" id="input">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Create User</button>
            </div>
         </form>
        </div>
      
      </div>
    </div>
  </div>
  <!-- end of modal section -->
    <script src="https://kit.fontawesome.com/743fcf6cf7.js" crossorigin="anonymous"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./jquery/jquery.js"></script>
    <script src="./javascripts/scripts.js"></script>
  </body>
</html>